Source: goby-dccl2
Priority: extra
Maintainer: Toby Schneider <tes.aubergine@gmail.com>
Build-Depends: cdbs,
               debhelper (>= 7.0.50~),
               cmake, 
               libboost-dev (>= 1.40~), 
               libcrypto++-dev, 
               libprotobuf-dev, 
               libprotoc-dev,
               protobuf-compiler
Standards-Version: 3.8.4
Section: libs
Homepage: https://launchpad.net/goby
#Vcs-Git: git://git.debian.org/collab-maint/goby.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/goby.git;a=summary

Package: libdccl2-dev
Provides: libdccl-dev
Conflicts: libgoby-dev, libgoby1-dev, libgoby2-dev
Section: libdevel
Architecture: any
Depends: libdccl2 (= ${binary:Version}),
         libboost-dev (>= 1.40~), 
         libcrypto++-dev,
         libprotobuf-dev, 
         libprotoc-dev
Description: Developers' package for the Dynamic Compact Control Language (a subset of the Goby Underwater Autonomy Project)
 The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

Package: libdccl2
Conflicts: libgoby1, libgoby2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries for the Dynamic Compact Control Language (a subset of the Goby Underwater Autonomy Project)
  The Goby Underwater Autonomy Project aims to create a unified framework for multiple scientific autonomous marine vehicle collaboration, seamlessly incorporating acoustic, ethernet, wifi, and serial communications. Presently the main thrust of the project is developing a set of robust acoustic networking libraries.

