Source: dccl3
Priority: extra
Maintainer: Toby Schneider <tes.aubergine@gmail.com>
Build-Depends: cdbs,
               debhelper (>= 7.0.50~),
               cmake, 
               libboost-dev (>= 1.40~), 
               libcrypto++-dev, 
               libprotobuf-dev, 
               libprotoc-dev,
               protobuf-compiler,
               libb64-dev,
               doxygen, 
               graphviz
Standards-Version: 3.9.3
Section: libs
Homepage: https://launchpad.net/dccl

Package: libdccl3-dev
Provides: libdccl-dev
Section: libdevel
Architecture: any
Depends: libdccl3 (= ${binary:Version}),
         libboost-dev (>= 1.40~), 
         libcrypto++-dev,
         libprotobuf-dev, 
         libprotoc-dev,
         libb64-dev,
         ${misc:Depends}
Description: Developers' package for the Dynamic Compact Control Language.
  The Dynamic Compact Control Language (DCCL) is a marshalling and protocol language for very low throughput links (e.g. acoustic, satellite, low frequency radio). Formerly part of Goby (https://launchpad.net/goby) for releases 1 and 2, we believe DCCL has reached a level of maturity that it can be more easily standardized, adopted, and maintained as a separate project.

Package: libdccl3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries for the Dynamic Compact Control Language.
  The Dynamic Compact Control Language (DCCL) is a marshalling and protocol language for very low throughput links (e.g. acoustic, satellite, low frequency radio). Formerly part of Goby (https://launchpad.net/goby) for releases 1 and 2, we believe DCCL has reached a level of maturity that it can be more easily standardized, adopted, and maintained as a separate project.

Package: dccl3-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
# Build-Profiles: <!nodoc>
Section: doc
Architecture: all
Description: Documentation for the Dynamic Compact Control Language.
  The Dynamic Compact Control Language (DCCL) is a marshalling and protocol language for very low throughput links (e.g. acoustic, satellite, low frequency radio). Formerly part of Goby (https://launchpad.net/goby) for releases 1 and 2, we believe DCCL has reached a level of maturity that it can be more easily standardized, adopted, and maintained as a separate project.

Package: dccl3-apps
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Applications for the Dynamic Compact Control Language.
  The Dynamic Compact Control Language (DCCL) is a marshalling and protocol language for very low throughput links (e.g. acoustic, satellite, low frequency radio). Formerly part of Goby (https://launchpad.net/goby) for releases 1 and 2, we believe DCCL has reached a level of maturity that it can be more easily standardized, adopted, and maintained as a separate project.
  This package provides the 'dccl' command line tool.