#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk


# Add here any variable or target overrides you need.
DEB_MAKE_ENVVARS = CTEST_OUTPUT_ON_FAILURE=ON
DEB_BUILD_PARALLEL = true

# only run unit tests and build documentation on x86_64 and i386
ifeq ($(shell (dpkg-architecture -qDEB_BUILD_ARCH | egrep -q "amd64|i386") && echo "yes"),yes)
	DEB_CMAKE_EXTRA_FLAGS = -Denable_testing=ON  -Dbuild_doc=ON
	DEB_MAKE_CHECK_TARGET = test
endif

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_TARGET_ARCH ?= $(shell dpkg-architecture -qDEB_TARGET_ARCH)
ifneq ($(DEB_HOST_ARCH),$(DEB_TARGET_ARCH))
	DEB_CMAKE_EXTRA_FLAGS += -DCMAKE_CROSSCOMPILING=ON
endif

CC=$(DEB_HOST_GNU_TYPE)-gcc
CXX=$(DEB_HOST_GNU_TYPE)-g++
